/src/MerchantAPI/**/bin
/src/MerchantAPI/**/obj
/src/MerchantAPI/**/*.user
/**/build/**
/src/.vs/**
/src/nuget.config
/src/TestResults
/src/MerchantAPI/APIGateway/APIGateway.Test.Functional/appsettings.test.functional.development.json
/src/Deploy/Build
TestResults
/src/MerchantAPI.sln.DotSettings.user
Build
